body {
  margin: 0px;
  padding: 0px;
  font-family: arial, sans-serif;
}

#grafZone, #menuZone {
  margin: 0px;
  padding: 0px;
  height: 100%;
  display: block;
  white-space: nowrap;
  position: absolute;
  top: 0px;
}

#grafZone {
  background-color: #FFFFFF;
  left: 0px;
}

#menuZone {
  width: 200px;
  background-color: #EEEEEE;
  right: 0px;
  border-left: 4 solid #000000;
}

#grafBorder {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  border-left: 3 solid #000000;
  border-bottom: 3 solid #000000;
  margin: 0px;
  padding: 0px;
  cursor: crosshair;  
}

.grafColumnA, .grafColumnN {
  display: block;
  position: absolute;
  width: 2px;
}

.grafColumnA {
  bottom: 0px;
  background-color: rgb(0,127,0);
}

.grafColumnN {
  background-color: rgb(255,153,0);
}

.grafLabel {
  display: block;
  position: absolute;
  bottom: -35px;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

#grafPointer {
  display: block;
  position: absolute;
  top: 20px;
  margin: 0px;
  padding: 0px;
  width: 2px;
  background-color: rgba(0,0,0,0.6);
  cursor: crosshair;
}

#grafPointerVertical {
  display: block;
  position: absolute;
  left: 20px;
  margin: 0px;
  padding: 0px;
  height: 2px;
  background-color: rgba(0,0,0,0.6);
  cursor: crosshair;
}

#grafSelecter {
  display: block;
  position: absolute;
  top: 20px;
  margin: 0px;
  padding: 0px;
  background-color: rgba(255,255,0,0.4);
  cursor: crosshair;  
}

#masterGrafA, #masterGrafN {
  display: block;
  position: absolute;
  top: 160px;
  left: 15px;
  margin: 0px;
  padding: 0px;
  height: 40px;
}

#masterGrafA {
  background-color: rgb(0,127,0);
  border-bottom: 2 solid #000000;
  border-top: 2 solid #000000;
  border-right: 2 solid #000000;
}

#masterGrafN {
  background-color: rgb(255,153,0);
  border-top: 2 solid #000000;
  border-left: 2 solid #000000;
  border-bottom: 2 solid #000000;
}

#MasterN, #MasterA {
  -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
  transform:         rotate(-45deg);
  vertical-align: middle;
  text-align: left;
}

#MasterN {
  position: absolute;
  top: 240px;
  left: 15px;
  color: rgb(255,153,0);
  
}

#MasterA {
  position: absolute;
  top: 240px;
  right: 15px;
  color: rgb(0,127,0);
}

#MasterP {
  position: absolute;
  top: 174px;
  left: 0px;
  width: 100%;
  text-align: center;
  color: #000000;
}

#OverN, #SelN {
  color: rgb(255,153,0);
}

#OverA, #SelA {
  color: rgb(0,127,0);
}

#masterGrafOldA, #masterGrafOldN {
  display: block;
  position: absolute;
  top: 120px;
  left: 15px;
  margin: 0px;
  padding: 0px;
  height: 40px;
}

#masterGrafOldA {
  background-color: rgb(0,127,0);
  border-bottom: 2 solid #000000;
  border-top: 2 solid #000000;
  border-right: 2 solid #000000;
}

#masterGrafOldN {
  background-color: rgb(255,153,0);
  border-top: 2 solid #000000;
  border-left: 2 solid #000000;
  border-bottom: 2 solid #000000;
}

#MasterOldN, #MasterOldA {
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  transform:         rotate(45deg);
  vertical-align: middle;
  text-align: left;
}

#MasterOldN {
  position: absolute;
  top: 60px;
  left: 15px;
  color: rgb(255,153,0);
  
}

#MasterOldA {
  position: absolute;
  top: 60px;
  right: 15px;
  color: rgb(0,127,0);
}

#MasterOldP {
  position: absolute;
  top: 130px;
  left: 0px;
  width: 100%;
  text-align: center;
  color: #000000;
}

#cutButton {
  position: absolute;
  top: 350px;
  left: 15px;
  width: 165px;
  height: 25px;
  display: block;
  background-color: #EEEEEE;
  border: 2 solid #000000;
  text-align: center;
  vertical-align: top;
  padding-top: 7px;
  font-weight: bold;
  cursor: pointer;
}

#pasteButton {
  position: absolute;
  top: 350px;
  left: 15px;
  width: 165px;
  height: 25px;
  display: block;
  background-color: #EEEEEE;
  border: 2 solid #000000;
  text-align: center;
  vertical-align: top;
  padding-top: 7px;
  font-weight: bold;
  cursor: pointer;
}

#dark {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

#alert {
  position: absolute;
  height: 400px;
  width: 600px;
  background-color: #FFFFFF;
}

.grafLineVerticalStrong1 {
  display: block;
  position: absolute;
  left: 0px;
  margin: 0px;
  padding: 0px;
  height: 1px;
  background-color: rgba(0,0,0,0.1);
  cursor: crosshair;
}

.grafLineVerticalStrong2 {
  display: block;
  position: absolute;
  left: 0px;
  margin: 0px;
  padding: 0px;
  height: 1px;
  background-color: rgba(0,0,0,0.2);
  cursor: crosshair;
}

.grafLineVerticalStrong3 {
  display: block;
  position: absolute;
  left: 0px;
  margin: 0px;
  padding: 0px;
  height: 1px;
  background-color: rgba(0,0,0,0.5);
  color: rgba(0,0,0,0.5);
  cursor: crosshair;
}

.separator {
  width: 100%;
  height: 3px;
  background-color: #000000;
}